@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Poppins:wght@300;400;500&display=swap'); 
*{
    list-style: none;
        text-decoration: none;
}
:root{
    --lg-font: 'kaisei Tokumin', serif;
    --sm-font: 'poppins', sans-serif;
    --pink: #e53450;
}

body{
    font-family: var(--sm-font);
}

/*button*/
.bg-btn-color{
    background-color: var(--pink)!important;
}

.btn:not(.nav-btns button){
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid gray;
}
.btn:not(.nav-btns button):hover{
    background-color: #e53450;
    border-color: white ;
    transition: all .55s ease;
    color: white;
}

/* text color  */
.text-primary-color{
    color: var(--pink)!important;
}

/* navbar */
.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
    width: 120px;
    height: 120px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink) !important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.login-signup{
    border-radius: 30px;
    padding: 8px 8px;
    margin-left: 20px;
}
.login-signup a{
    text-decoration: none;
    color: #fff;
}

/* header */
#header{
    background: url(images/attire.jpg) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: gray;
}

/* title */
.title h2::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/*collection*/
.active-filter-btn{
    background-color: var(--pink) !important;
    color: #fff !important;
    border-color: var(--pink) !important;
}
.filter-button-group .btn:hover{
    color: #fff !important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* special */
.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px !important;
}
.special-img img{
    transition: all .3s ease;
}
.special-img:hover img{
    transform: scale(1.2);
}

#specials1{
    width: 35%;
    /* margin-left: 30%; */
    
}
#specials2{
    width: 35%;
    /* margin-left: 30%; */
}

/* offers */
#offers{
    background: url(https://media.istockphoto.com/id/809817058/photo/girl-wearing-glasses-and-casual-clothes-posing.jpg?s=612x612&w=0&k=20&c=NzNojOhNR-mAfDQTkzasdlob3fYQKxvmfrSzt9ucnik=) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}
.offers-content span{
    font-size: 20px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font);
}
.offers-content .btn{
    background-color: transparent!important;
}



/* about */

#about{
    background-color: rgba(179, 179, 179, 0.05);
}
.card img{
    height: 300px;
}

/* newsletter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}

#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#newsletter .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}
#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}

/* footer  */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}

footer a{
    transition: color .3s ease;
}

footer a:hover{
    color: var(--pink)!important;
}
.end {
    color: white;
    font-size: 15px;
    bottom: 20px;
}

/* login */
.login-page{
    background:rgb(253, 253, 253);
}

.wrapper{
    position: relative;
    margin: 10% 32.5%;
    width: 35%;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: #e53450;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .3s ease;
}
.wrapper.active{
    height: 550px;
}

.wrapper .form-box.login {
 transition: transform .50s ease;
 transform: translateX(0);
}

.wrapper.active .form-box.login{
    position: absolute;
    transform: translateX(-500px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.wrapper.active .form-box.register{
    transition: transform .50s ease;
        transform: translateX(0);
}
.wrapper .form-box{
    width: 100%;
    padding:40px ;
}

.wrapper .fa-xmark{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form-box h2{
    font-size: 2rem;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: all .55s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
} 

.remember-forget{
    font-size: .9rem;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forget a{
    color: #162938;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.login-register{
    font-size: .9rem;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}




/* media queary */
@media(min-width: 992px) {
    .nav-item {
        border-bottom: none;
   
    }

    .collection-img img {
        height: 350px;
    }

        .special-list img {
            height: 400px;
        }

        
}
@media(max-width:992px){
    .wrapper{
        width: 55%;
        margin: 10% 22.5%;
    }
}

@media(max-width:760px){
    .login-signup{
        width: fit-content;
        margin-top: 5px;
        margin-left: 37%;
    }

}